<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Soy Julieta</h1>
			<p>Entendemos que las mujeres son la columna vertebral de la familia y la sociedad, con Julieta podemos salvarlas de una muerte innecesaria. </p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/soy-julieta.jpg" alt="Soy Julieta">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Soy Julieta</p>
			<img src="../../assets/img/person/soy-julieta.jpg" alt="Soy Julieta">
			<p class="place">Bogotá, Cundinamarca</p>
			<p class="label">Categoría</p>
			<p>Salud y bienestar</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.soyjulieta.com" target="_blank"><i class="icon-link"></i>URL</a></li>
				<li><a href="https://www.facebook.com/soylaDraJulieta/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="https://www.instagram.com/somos.julieta/" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Siendo un grupo de tres mujeres decidimos que queríamos hacer algo de mujeres para mujeres. Investigando nos dimos cuenta que el cáncer de mama es la enfermedad que más mujeres mata en el mundo no porque sea la más agresiva sino porque no se detecta a tiempo. </p>
			<p>Buscamos reducir la tasa de mortaldiad del cáncer de mama en Colombia por medio de facilitar el acceso a los examenes de diagnóstico y así lograr la detección temprana de esta enfermedad. Ayudando a salvar la vida de estas mujeres.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Nuestro proyecto sigue en desarrollo y se encuentra en fase de pruebas con pacientes reales para perfeccionar el dispositivo. Julieta se ha convertido en un símbolo de esperanza para las mujeres y hemos podido hacer una campaña de generación de conciencia sobre la importancia de los chequeos. </p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Usamos una tecnología que no está en el mercado y la implementamos en un brasier práctico para las mujeres. </p>
			<p>Va a ser el único dispositivo en el mercado con características que le permiten ser llevado a todos los rincones del país, y al no tener repercusiones negativas podrá ser usado por todas.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Actualmente estamos incubadas por el CESA y el Tecnológico de Monterrey. Aunque nos ayudan con mentores y asesoría académica, actualmente no tenemos ayuda financiera de ninguna entidad. </p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Al ayudar a la detección temprana del cáncer  de mama le estamos dando una mayor posibilidad de sobrevivir a las mujeres. El impacto de esto va a ser la reducción de la tasa de mortalidad de esta enfermedad. </p>
			<p>Si esta enfermedad se detecta temprano prácticamente todas la mujeres podrían sobrevivir. </p>
			<p>Con Julieta, Colombia será uno de los poineros de la innovación tecnológica en diagnóstico de cáncer en el mundo. Ayudando a combatir la primera causante de muertes en el mundo. </p>

		</div>
	</div>
	
</div>
