<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Comproagro</h1>
			<p>El futuro está en acercar la tecnología al campo, empoderar a la mujer campesina y fortalecer las habilidades tecnológicas en los jóvenes rurales.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../assets/img/main-image.png" alt="">
			</picture>
			<i class="icn-video"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Comproagro</p>
			<img src="../../assets/img/person.png">
			<p class="place">Tunja, Boyacá</p>
			<p class="label">Categoría</p>
			<p>Inclusión, reducción de desigualdades y pobreza</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="#"><i class="icon-link"></i>URL</a></li>
				<li><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
				<li><a href="#"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Nos mueve el campo, el amor del campesino colombiano por sus tierras y su trabajo,el objetivo de nuestro proyecto es dignificar la labor de los agricultores, eliminar intermediarios en el proceso de compra y venta de productos agrícolas, permitiendo que ellos mejoren sus condiciones de vida. Nuestra inspiración nace en nuestra madre, ella es agricultora de toda la vida, nos enseñó la profesión del campo, sin embargo, tuvimos también que enfrentar las pérdidas por los intermediarios y el macheteo.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Hemos logrado llegar a más de 21.000 familias campesinas en 29 departamentos de Colombia, logrando generar transacciones directas, comercio justo y beneficio mutuo entre agricultor y comprador, hemos logrado llegar a esto con trabajo duro, llegando a jóvenes rurales y mujeres cabeza de familia.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Durante nuestro proyecto hemos logrado obtener ayuda de entidades u organizaciones privadas, recibiendo algún apoyo como capital semilla para lograr llevar el proyecto más alto.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Trabajamos con madres cabeza de familia en Toca, Boyacá. Somos más de 21.000 familias campesinas en el país y hemos logrado mejorar los ingresos de los agricultores de un 15% a un 20% más de lo que recibían en los mercados tradicionales, es importante para nosotros lograr transformar el mercado actual, lograr dignificar el campo y ayudar a que progrese para que aseguremos el alimento de nuestras generaciones, el campo es nuestro pasado, nuestro presente y tiene que ser nuestro futuro también.</p>

		</div>
	</div>
	
</div>
