@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/extends";
@import "../../assets/scss/global/mixins";

.banner-cta{
	position: relative;
	.box-img{
		display: block;
		position: relative;
		&:before{
			content: "";
			background-color: hex-to-rgba($fourColor, 0.7);
			display: block;
			height: 100%;
			left: 0;
			mix-blend-mode: multiply;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	img{
		display: block;
		height: auto;
		width: 100%;
	}
	.info{
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	.title{
		color: $ui-04;
		font-family: $mainFontBold;
		font-size: 40px;
		line-height: 60px;
		margin: 0 0 29px;
	}
	&.bg02{
		.box-img{
			&:before{
				background-color: hex-to-rgba($fiveColor, 0.7);
			}
		}
	}
}

@media screen and (max-width: 767px){
	.banner-cta{
		.box-img{
			height: 200px;
		}
		.img-contain{
			height: 100%;
			object-fit: cover;
			font-family: 'object-fit: cover;';
			width: 100%;
		}
		.title{
			font-size: 26px;
			line-height: 31px;
		}
		.info{
			text-align: center;
			width: 100%;
		}
	}
}