<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">IWA</h1>
			<p>Hacemos que las comunidades más vulnerables tengan acceso a iluminación, conectando el campo con las mismas oportunidades de la zona urbana.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/iwa.jpg" alt="IWA">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">IWA</p>
			<img src="../../assets/img/person/iwa.jpg" alt="IWA">
			<p class="place">Manizales, Caldas</p>
			<p class="label">Categoría</p>
			<p>Ciudades y comunidades sostenibles</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="http://iwaenergia.wixsite.com/company" target="_blank"><i class="icon-link"></i>URL</a></li>
				<li><a href="https://www.facebook.com/wirelessterra/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Nos apasiona mejorar la calidad de vida de las personas, tanto de las zonas vulnerables del país, como la zona urbana, a través de la iluminación, creando ciudades y comunidades más sostenibles que utilicen nuestra tecnología, ya que con esto se puede reducir la  migración de los jóvenes del campo creando sostenibilidad en su tierra natal, generando un impacto social, donde las comunidades más aisladas puedan tener iluminación, empleos y de paso se genere conciencia socio-ambiental en la ciudad.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Estamos en proceso de desarrollo del producto  final,  nuestro prototipo es funcional, pero no hemos podido implementarlo en el campo, como las zonas no interconectadas del país. Pero el corazón de nuestro negocio es impactar positivamente y  ayudar a mejorar la calidad de vida en las zonas rurales.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Somos diferentes ya que integramos la tecnología con la zona rural y la naturaleza a los entornos urbanos, con energía a partir de la fotosíntesis de las plantas, es limpia no es necesaria otra fuente de energía para funcionar, se acopla al ecosistema sin afectar la vida de los campesinos y plantas.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Hemos tenido financiación con recursos propios, a través de concursos  de la alcaldía de Manizales, hace poco ganamos 5 millones en "curso concurso" y además a través de la Fundación universidad empresa estado Eje Cafetero (FUEEEC) también nos apoyaron con 5 millones, donde el patrocinador fue BIOS.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>En el mundo hay 1600 millones de personas que viven en completa oscuridad, no obstante cuentan con abundante naturaleza o cultivos a su alrededor, también cuentan con características ambientales que ayudan al uso de energías renovables.</p>
			<p>2%= Early adopters; 16.000.000= capacidad adquisitiva;43%=PEA</p>
			<p>Lámpara: Mercado= 49.000.000 x 43% x 2% = 421.400 Personas</p>
			<p>Metro cuadrado instalado:MC=16.000.000x2% =320.000 personas </p>
			<p>Constructoras: En el 2019 saldrán al mercado 55.246 unidades de vivienda nueva.</p>

		</div>
	</div>
	
</div>
