<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">EduCycle = Education + Recycle</h1>
			<p>Educamos acerca de una correcta separación de residuos, mejoramos los hábitos de millones de personas e impactamos positivamente al mundo.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/educycle.jpg" alt="EduCycle = Education + Recycle">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">EduCycle = Education + Recycle</p>
			<img src="../../assets/img/person/educycle.jpg" alt="EduCycle = Education + Recycle">
			<p class="place">Bogotá, Cundinamarca</p>
			<p class="label">Categoría</p>
			<p>Impacto al medio ambiente</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.facebook.com/EduCycle-2289798391250079/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="https://twitter.com/CycleEdu?s=08" target="_blank"><i class="icon-twitter"></i>Twitter</a></li>				 
				<li><a href="https://www.instagram.com/eduucycle/?hl=es-la" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Somos un equipo de jóvenes emprendedores comprometidos con el cuidado del medio ambiente, queremos ser líderes de cambio, convirtiéndonos en la nueva generación que tiene la oportunidad de crear un rol clave en la reducción de residuos e implementación del reciclaje. El objetivo de nuestro proyecto es contribuir a la pedagogía ambiental por medio de un dispositivo que ayude a educar a la población y generar conciencia en millones de personas para que asuman el compromiso ambiental y social.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Para la etapa inicial de investigación se implementaron estrategias de acercamiento con algunos recicladores, y se hizo entrega de overoles e impermeables para mejorar las condiciones de trabajo, en estas campañas se encontró que están muy interesados en que la población aprenda sobre la separación.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Es un dispositivo inteligente e interactivo que incorpora los avances en Inteligencia Artificial y Machine Learning para generar su propia base de datos que arroje información de interés para la mejora del producto, además busca crear hábitos eco-amigables y contribuir a la pedagogía ambiental.</p>

			<h2 class="main-title">Aliados</h2>
			<p>La dirección de emprendimiento de la Escuela Colombiana de Ingeniería Julio Garavito nos brindó asesoría y apoyo técnico de docentes en el desarrollo del proyecto, y la ingeniera Claudia Yadira Rodríguez nos ha acompañado en todo el proceso desde la idea hasta la elaboración del proyecto. </p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Logramos dar una correcta disposición final a aproximadamente 24.300 toneladas diarias de desechos que no están siendo reciclados correctamente. Además, facilitamos el trabajo de aproximadamente 13.757 recicladores que a diario deben separar los desechos generados para que puedan ser reciclados, nuestro proyecto hace que el proceso de reciclaje sea mucho más eficiente.</p>
			<p>Creamos hábitos en la humanidad que ayudan a descontaminar nuestro planeta al disminuir los desechos que van al vertedero.</p>

		</div>
	</div>
	
</div>
