@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i,600i&display=swap');

@font-face {
  font-family: 'Museo-500';
  src: url('assets/fonts/Museo/Museo-500.eot?#iefix') format('embedded-opentype'),  
  		url('assets/fonts/Museo/Museo-500.otf')  format('opentype'),
	    url('assets/fonts/Museo/Museo-500.woff') format('woff'), 
	    url('assets/fonts/Museo/Museo-500.ttf')  format('truetype'), 
	    url('assets/fonts/Museo/Museo-500.svg#Museo-500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo900-Regular';
  src: url('assets/fonts/Museo/Museo900-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('assets/fonts/Museo/Museo900-Regular.otf')  format('opentype'),
	    url('assets/fonts/Museo/Museo900-Regular.woff') format('woff'), 
	    url('assets/fonts/Museo/Museo900-Regular.ttf')  format('truetype'), 
	    url('assets/fonts/Museo/Museo900-Regular.svg#Museo900-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconFont';
  src:  url('assets/fonts/iconFont/iconFont.eot?oi97aw');
  src:  url('assets/fonts/iconFont/iconFont.eot?oi97aw#iefix') format('embedded-opentype'),
    url('assets/fonts/iconFont/iconFont.ttf?oi97aw') format('truetype'),
    url('assets/fonts/iconFont/iconFont.woff?oi97aw') format('woff'),
    url('assets/fonts/iconFont/iconFont.svg?oi97aw#iconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TisaSansPro-Bold';
  src: url('assets/fonts/TisaSansPro/TisaSansPro-Bold.eot?#iefix') format('embedded-opentype'),  
      url('assets/fonts/TisaSansPro/TisaSansPro-Bold.otf')  format('opentype'),
      url('assets/fonts/TisaSansPro/TisaSansPro-Bold.woff') format('woff'), 
      url('assets/fonts/TisaSansPro/TisaSansPro-Bold.ttf')  format('truetype'), 
      url('assets/fonts/TisaSansPro/TisaSansPro-Bold.svg#TisaSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TisaSansPro-Extrabold';
  src: url('assets/fonts/TisaSansPro/TisaSansPro-Extrabold.eot?#iefix') format('embedded-opentype'),  
      url('assets/fonts/TisaSansPro/TisaSansPro-Extrabold.otf')  format('opentype'),
      url('assets/fonts/TisaSansPro/TisaSansPro-Extrabold.woff') format('woff'), 
      url('assets/fonts/TisaSansPro/TisaSansPro-Extrabold.ttf')  format('truetype'), 
      url('assets/fonts/TisaSansPro/TisaSansPro-Extrabold.svg#TisaSansPro-Extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TisaSansPro-Medium';
  src: url('assets/fonts/TisaSansPro/TisaSansPro-Medium.eot?#iefix') format('embedded-opentype'),  
       url('assets/fonts/TisaSansPro/TisaSansPro-Medium.otf')  format('opentype'),
       url('assets/fonts/TisaSansPro/TisaSansPro-Medium.woff') format('woff'), 
       url('assets/fonts/TisaSansPro/TisaSansPro-Medium.ttf')  format('truetype'), 
       url('assets/fonts/TisaSansPro/TisaSansPro-Medium.svg#TisaSansPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}