<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Biotor</h1>
			<p>Empoderamos y formamos a los productores como empresarios del campo; con tecnología, nuevos mercados y mejores condiciones laborales.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/biotor.jpg" alt="Biotor">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Biotor</p>
			<img src="../../assets/img/person/biotor.jpg" alt="Biotor">
			<p class="place">Cali, Valle del Cauca</p>
			<p class="label">Categoría</p>
			<p>Trabajo decente y crecimiento economico sostenible</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.facebook.com/Biotorns/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>				
				<li><a href="https://twitter.com/BiotorColombia?s=09" target="_blank"><i class="icon-twitter"></i>Twitter</a></li>
				<li><a href="https://instagram.com/biotorns?utm_source=ig_profile_share&igshid=1826c99hpedmc" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Creemos enfáticamente en el potencial del agro colombiano y de latinoamérica. Nos inspiramos en el trabajo arduo de los pequeños productores que se esfuerzan día a día para producir alimentos, asi que estamos cambiando los paradígamas en logística, comerciación y financiación del sector rural. Nuestro principal objetivo es volver la Colombia Profunda atractiva; tecnificar las veredas colombianas para que sean competivivas en el mercado nacional.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Directamente hemos impactado una comunidad en Candelaria en el Valle del Cauca, con quienes co-creamos nuestro primer sistema y actualmente estan operando y comercializando los productos en el pueblo. Sin embargo hemos generado cursos de tecnificación colombiana en el agro para pequeños productores.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>En Biotor hemos diseñado  sistema acuapónico que genera vegetales y peces de forma simultánea y automatizada con un ahorro del 90% en recursos hídricos y que permite la generación eléctrica. Además contamos con un bb social y financiero para que la tecnología sea exitosa y escalable.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Contamos con grandes aliados con los que estamos cerrando la brecha urbano rural y afianzando la seguridad alimentaria para el 2030. Entre nuestros partners estan Frubana, Saenz Fety, Give Power, Corporación Colombia Internacional. Juan David Aristizabal y Jorge Carulla son mentores.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Hemos generados diversas actividades con pequeños productores Colombianos.Tenemos un sistema funcional operado por una familia campesina de 4 integrantes en el Valle del Cauca. Además se engranar diversos actores públicos y privados del sector agrario, Biotor obtuvo el primer puesto del HultPrize Uniandes 2018 y el 3r lugar en el HultPrize Mexico 2018 donde competimos con 40 Universidades de todo el mundo. El alcance de Biotor es prometedor, para enero de 2019 tendremos un 2do MVP con Saenz Fety.</p>

		</div>
	</div>
	
</div>
