<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Home Service</h1>
			<p>HomeService cambia el mundo de aquellas personas que ahora pueden aumentar su calidad de vida por medio de mayor acceso a un trabajo digno.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/home-service.jpg" alt="Home Service">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Home Service</p>
			<img src="../../assets/img/person/home-service.jpg" alt="Home Service">
			<p class="place">Bogotá, Cundinamarca</p>
			<p class="label">Categoría</p>
			<p>Trabajo decente y crecimiento economico sostenible</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.facebook.com/HomeServiceCO/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Nuestro proyecto busca aumentar de gran forma el acceso que tienen los trabajadores domésticos a potenciales clientes. Lo anterior esta motivado en que a pesar de que gran cantidad de personas y empresas requieren de servicios domésticos (limpieza, plomería, etc), un alto porcentaje de las personas que trabajan en estos oficios tienen ingresos mensuales muy bajos debido a que no logran conseguir suficientes clientes. Con el proyecto, buscamos que cualquier trabajador pueda darse a conocer. </p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Hasta el día de hoy hemos trabajado con más de 20 empleadas domésticas, la mayoría de ellas cabeza de familia, y más de 10 personas de servicios generales. Hemos podido aumentar sus ingresos mensuales por medio de la obtención de trabajo constante semana a semana y a un precio justo. </p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>El proyecto busca renovar y digitalizar  por primera vez un mercado muy fuerte en Colombia, el de los servicios domésticos. De lograr la implementación de la aplicación, daríamos a cada trabajador acceso a miles de clientes y trabajos. </p>

			<h2 class="main-title">Aliados</h2>
			<p>El proyecto nació como nuestra tésis de pregrado, por tal razón tuvimos la asesoría del profesor Julian Melo. Él nos ayudó con temás teóricos con los que mejoramos el funcionamiento de nuestro proyecto, realizando la implementación de varios modelos de emprendimiento como canvas y propuesta de valor.</p>

		</div>
	</div>
	
</div>
