
@font-face {
  font-family: 'Museo900-Regular';
  src: url('Museo900-Regular.eot?#iefix') format('embedded-opentype'),  url('Museo900-Regular.otf')  format('opentype'),
	     url('Museo900-Regular.woff') format('woff'), url('Museo900-Regular.ttf')  format('truetype'), url('Museo900-Regular.svg#Museo900-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
