<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Proyecto Doggy In Home</h1>
			<p>Aprovechamiento y mutuo beneficio de la interacción humano animal y su relación con los procesos de regulación emocional, comportamental.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/doggy.jpg" alt="Proyecto Doggy In Home">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Proyecto Doggy In Home</p>
			<img src="../../assets/img/person/doggy.jpg" alt="Proyecto Doggy In Home">
			<p class="place">Bogotá, Cundinamarca</p>
			<p class="label">Categoría</p>
			<p>Educación de calidad</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.facebook.com/fundaciondoggyinhome/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="https://www.instagram.com/doggyinhome/" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<ol>
				<li>Contribuir en la  educación de niños y jóvenes  por medio de programas de  sensibilización mediante la participación de talleres para el cuidado y tenencia responsable de perros y gatos.</li>
				<li>Beneficiar a la comunidad con necesidades de salud mental, emocional y comportamental mediante el entrenamiento y entrega de perros y gatos adiestrados, a personas con discapacidades cognitivas y físicas. </li>
				<li>Mitigar los riesgos de salud pública respecto a enfermedades parasitarias e instestinales.</li>
			</ol>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>En 8 meses hemos llegado a 222 niños y jóvenes de edades entre los 3 y 16 años de jardínes infantiles, colegios y comunidades de diferentes localidades de la ciudad. En paralelo, 62%  de ellos han participado con sus familias en espacios que hemos creado de sensibilización.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Porque la Educación empodera a los niños y jóvenes y los moviliza a multiplicar sus concimientos en diferentes contextos, valiéndose de los beneficios emocionales, comportamentales y terapéutico de la interacción humano animal y contribuyendo a generar consciencia mendiante el  voz a voz y  acciones.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Hemos recibido el apoyo de:</p>
			<ul>
				<li>Gabrica S.A., empresa de comida y accesorios para animales.</li>
				<li>Doctores Pet Angels, médicos veterinarios a domicilio.</li>
				<li>CastelVet, móvil veterinaria.</li>
				<li>CremaPet, servicios funerarios para mascotas.</li>
			</ul>	
						

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>- Semillero de niños y jóvenes sensibilizados: En comunidad: 160 niños y jóvenes. En Jardines infantiles: 62 niños. Proyección 2019: 20 instituciones educativas de Bogotá y sus alrededores, entre jardines infantiles  y colegios. </p>
 			<p>- Localidades y municipios impactadas: 4 - ciudad bolívar, Kennedy, Engativá y Soacha</p>
			<p>- Jornadas de alimentación y esterilización: 5</p>
			<p>- Esterilizaciones: 293 entre perros y gatos. </p>
			<p>- Nacimientos no deseados (evitados): 2.304 perros y 1.212 gatos aproximadamente</p>

		</div>
	</div>
	
</div>
