<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Tierra Grata </h1>
			<p>Dignificamos la vida de las comunidades rurales a través de soluciones innovadoras que garantizan el acceso a los servicios básicos.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/tierra-grata.jpg" alt="Tierra Grata">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Tierra Grata </p>
			<img src="../../assets/img/person/tierra-grata.jpg" alt="Tierra Grata">
			<p class="place">Cartagena, Bolívar</p>
			<p class="label">Categoría</p>
			<p>Impacto al medio ambiente</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://tierragrata.org/" target="_blank"><i class="icon-link"></i>URL</a></li>
				<li><a href="https://www.facebook.com/tierragratacol/?ref=bookmarks" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="https://twitter.com/TierraGrataCol?lang=es" target="_blank"><i class="icon-twitter"></i>Twitter</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>1 de cada 3 personas en el mundo no tienen acceso a servicios de agua y saneamiento y millones de personas aun no cuentan con energía eléctrica.  Soñamos con un mundo donde todas las personas tengan acceso a servicios básicos, donde los niños no mueran a causa de enfermedades prevenibles. Nuestro objetivo es poder garantizar el acceso a los servicios de agua, energía y saneamiento de comunidades rurales a través de tecnologías sociales de bajo costo y fácil instalación.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Hemos beneficiado a más de 800 personas en 7 comunidades rurales del departamento de Bolívar y la Guajira.  A través de la instalación de más de 100 tecnologías sociales y con un nuestro programa de intervención social que acompaña la apropiación y adaptación de las comunidades a las soluciones.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Desarrollamos e implementamos soluciones reales a las problemáticas más apremiantes del mundo. Nuestras tecnologías son diseñadas para comunidades de difícil acceso, de instalación en un día y de fácil apropiación por parte de las comunidades.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Hemos trabajado con diferentes organizaciones como Fundación Pavco, Fundación Capital, Cámara de Comercio de Cartagena, Socialab, Fundación Vidanta entre otros. Además de jovenes voluntarios que hacen parte de nuestro programa Gente Grata quienes participan de las jornadas de instalación.</p>

		</div>
	</div>
	
</div>
