<div class="intercalate-block {{showButton ? '' : 'one-color'}}">
  <div class="container">
    <div class="item cat-{{i+1}}" *ngFor="let objectCategories of objectArray; let i = index">
      <picture class="box-img">
        <source type="image/webp" srcset="">
        <source type="image/jp2" srcset="">
        <source type="image/jxr" srcset="">
        <img [src]="objectCategories.image" [alt]="objectCategories.text_image_alt">
      </picture>
      <div class="info">
        <h2 class="main-title">{{objectCategories.name}}</h2>
        <p class="main-lead" [innerHtml]="objectCategories.summary"></p>
        <a [href]="objectCategories.pdf" class="btn-line" download *ngIf="showButton">Descargar el PDF</a>
      </div>
    </div>
  </div>

</div>