<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Wayuuda</h1>
			<p>El agua es generadora de vida, con él estoy dando la oportunidad a la etnia wayuu de tener este preciado liquido, verlo brotar del desierto.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/wayuuda.jpg" alt="Wayuuda">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Wayuuda</p>
			<img src="../../assets/img/person/wayuuda.jpg" alt="Wayuuda">
			<p class="place">Bucaramanga, Santander</p>
			<p class="label">Categoría</p>
			<p>Salud y bienestar</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://b-m.facebook.com/wayuuda/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Desde mi infancia he tenido la oportunidad de acercarme a la comunidad Wayúu y ver las condiciones de vida a las que están sometidos (sobre todo a los que asientan en la Media y alta Guajira), situación que se agrava con el olvido gubernamental y el cambio climático, Es por ello que a razón de suplir una  necesidad sentida, he diseñado un SISTEMA DE BOMBEO SOLAR AUTOMATIZADO, que proveerá de agua a mas de 500 familias del corregimiento de Jonjonsito Municipio de Uribia Guajira.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Con el proyecto se ha ayudado a más de 500  familias del corregimiento de Jonjonsito Municipio de Uribia Guajira, Porque además he creado la "Fundación Wayuuda", donde se ha hecho trabajo social permanente, se creo una escuela y hoy estudian ahí 80 niños, niñas, y adolescentes, entre otros. </p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Mi proyecto es innovador porque se esta utilizando energías limpias, no se requiere combustibles no  requiere de  baterías, suple una necesidad apremiante y se trabaja con comunidades vulnerables, la excavación  del pozo profundo,  es obra de la misma comunidad, generando empleo y sustento. </p>

			<h2 class="main-title">Aliados</h2>
			<p>Si, La Universidad Autónoma de Bucaramanga (UNAB),   ha patrocinado el proyecto.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Es un proyecto con proyección que se puede multiplicar y podría extenderse a otras zonas y regiones desérticas y secas a nivel mundial. </p>

		</div>
	</div>
	
</div>
