<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Estación de Potabilización de Aguas Lluvias</h1>
			<p>Para cambiar al mundo se empieza por uno mismo, este proyecto genera acciones de conciencia para dar solución a una realidad.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/potabilizacion.jpg" alt="Estación de Potabilización de Aguas Lluvias">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Estación de Potabilización de Aguas Lluvias</p>
			<img src="../../assets/img/person/potabilizacion.jpg" alt="Estación de Potabilización de Aguas Lluvias">
			<p class="place">Manizales, Caldas</p>
			<p class="label">Categoría</p>
			<p>Salud y bienestar</p>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>En el mundo en desarrollo, una de cada cinco personas no tiene acceso al agua limpia. en Colombia cerca de 318 municipios están en riesgo de desabastecimiento de agua, cuentan con los medios hidricos pero no la capacidad económica y ambiental para tratarlo y distribuirlos. Esta necesidad despertó en nosotros el crear a EPALL una estación que capta el agua lluvia, la almacena y por ultimo se filtra a través de un sistema que desinfecta el agua para que sea potable para todos.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Hasta el momento se ha realizado el acompañamiento, estudio y evaluación de la adaptación de EPALL en Bajo Berlin - Caldas, en la vereda Barrio Colorado - Turbo y en la IE San francisco de Asís - Puerto Asís/Putumayo. A principios del 2019 se instalara EPALL en los lugares correspondientes. </p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>EPALL atacará directamente la escasez económica de agua potable en zonas rurales, la innovación del proyecto es trabajar con las aguas lluvias y utilizando un sistema de fácil adaptación social con tres etapas, captación, almacenamiento y filtración. donde el filtro es superior a los tradicionales.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Gracias al concurso de innovate CHEC se fortaleció la idea, y gracias a ello fuimos primer lugar en el concurso, ganando un apoyo monetario para acrecentar el sistema EPALL, y de igual manera Casa Luker con su fundación nos permitió acercarnos al Golfo de Urabá y presentar nuestra idea innovadora.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Nuestro proyecto ademas de cumplir el objetivo principal que es brindar agua apta para el consumo, incluye una mejora estructural de la vivienda, al agregar las tres etapas captación, almacenamiento y filtración. También repercute positivamente en el ambiente debido a la disminución de residuos del tipo bolsas plásticas en zonas rurales, así como el consumo de combustibles empleado para el transporte del agua hasta la comunidad, el cual puede usarse en otras actividades vitales. </p>

		</div>
	</div>
	
</div>
