<footer>
	<div class="container">
		<a href="#">
			<img src="../../../../assets/img/logo-footer.svg" height="60" width="180">
		</a>
		<ul class="social">
			<li>Síguenos en:</li>
			<li>
				<a href="https://www.facebook.com/social.skin.comunidad" target="_blank"><i class="icon-facebook"></i> Facebook</a>
			</li>
			<li>
				<a href="https://twitter.com/Social_Skin_" target="_blank"><i class="icon-twitter"></i>Twitter</a>
			</li>
			<li>
				<a href="https://www.instagram.com/social_skin_/" target="_blank"><i class="icon-instagram"></i>Instagram</a>
			</li>
		</ul>

		<a class="download" href="#"><span class="icon-download"></span>Descargar bases y condiciones del premio</a>

		<ul class="footer-menu">
			<li>
				<a [routerLink]="['/terminos-condiciones']">Términos y condiciones</a>
			</li>
			<li>
				<a [routerLink]="['/privacidad']">Políticas de Privacidad</a>
			</li>
			<li>
				<a [routerLink]="['/faq']">Preguntas Frecuentes</a>
			</li>
			<li>
				<a (click)="openDialog()">Ayuda</a>
			</li>
		</ul>

		<p class="copy">&copy; Social Skin es una marca registrada de Grupo Bolívar.</p>
	</div>
</footer>
