<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Comproagro</h1>
			<p> El futuro esta en acercar la tecnología al campo, empoderar a la mujer campesina y fortalecer las habilidades tecnológicas en los jóvenes que habitan en zonas rurales.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/comproagro.jpg" alt="Comproagro">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Comproagro</p>
			<img src="../../assets/img/person/comproagro.jpg" alt="Comproagro">
			<p class="place">Tunja, Boyacá</p>
			<p class="label">Categoría</p>
			<p>Inclusión, reducción de desigualdades y pobreza</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.comproagro.com/" target="_blank"><i class="icon-link"></i>URL</a></li>
				<li><a href="https://www.facebook.com/Comproagro/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="https://twitter.com/Comproagro" target="_blank"><i class="icon-twitter"></i>Twitter</a></li>
				<li><a href="https://www.instagram.com/comproagro/?hl=es-la" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Nos mueve el campo, el amor del campesino colombiano por sus tierras y su trabajo,el objetivo de nuestro proyecto es dignificar la labor de los agricultores, eliminar intermediarios en el proceso de compra y venta de productos agrícolas, permitiendo que ellos mejoren sus condiciones de vida. Nuestra inspiración nace de nuestra madre, ella es agricultora de toda la vida, nos enseñó la profesión del campo, sin embargo tuvimos también que enfrentar las perdidas por los intermediarios y el macheteo.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Hemos logrado llegar a más de 21.000 familias campesinas en 29 departamentos de Colombia, logrando generar transacciones directas, comercio justo y beneficio mutuo entre agricultor y comprador, hemos logrado llegar a esto con trabajo duro, llegando a jovenes rurales y mujeres cabeza de familia.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Nuestro proyecto es innovador porque es el primer MarketPlace de comercio justo y directo entre agricultor y comprador, permitiendo que a través de una plataforma web se puedan contactar directamente, eliminar intermediarios y mejorar los ingresos de nuestros agricultores.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Durante nuestro proyecto hemos logrado obtener ayuda de entidades u organizaciones privadas, recibiendo algún apoyo como capital semilla para lograr llevar el proyecto más alto.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Trabajamos con madres cabeza de familia en Toca Boyacá, somos más de 21.000 familias campesinas en el país y hemos logrado mejorar los ingresos de los agricultores de un 15 a un 20% más de lo que recibian en los mercados tradicionales, es importante para nosotros lograr transformar el mercado actual, lograr dignificar el campo y ayudar a que progrese para que aseguremos el alimento de nuestras generaciones, el campo es nuestro pasado, nuestro presente y tiene que ser nuestro futuro tambien.</p>

		</div>
	</div>
	
</div>
