<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Proyecto Truequeros, agencia creativa para el agro colombiano </h1>
			<p>Lograremos que los agricultores tenga la posibilidad de crear  empresa, gracias al pago justo de su trabajo y a la calidad de sus productos.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/truequeros.jpg" alt="Proyecto Truequeros, agencia creativa para el agro colombiano">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Proyecto Truequeros, agencia creativa para el agro colombiano </p>
			<img src="../../assets/img/person/truequeros.jpg" alt="Proyecto Truequeros, agencia creativa para el agro colombiano">
			<p class="place">Bogotá, Cundinamarca</p>
			<p class="label">Categoría</p>
			<p>Trabajo decente y crecimiento economico sostenible</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.facebook.com/MagolaBuendia" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>El campo colombiano enfrenta muchos desafíos, uno de ellos son los intermediarios que se benefician del trabajo del campesino,en Magola Buendia hemos sido testigos de esto y quisimos hacer algo al respecto. Así que nos ideamos una "casa de cambio" donde la divisa sea el café de los productores y a cambio podamos brindar herramientas, para que ellos tengan acceso a la publicidad y al diseño de marca de sus productos y puedan generar independencia económica y un futuro rentable. </p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>2 productores de café " la soñadora"  y "café campesino". Pudimos desarrollar la identidad de marca, el logo y la papelería, para ambas empresas y con la "soñadora" hemos logrado incluso posicionar su producto como un referente del café de genero en el Huila e incluso logramos salir en tv.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Es innovador por que basándonos en el concepto del  trueque, estamos creando una "casa de cambio" donde los pequeños agricultores que no poseen musculo financiero, puedan tener acceso a servicios como la publicidad y mercadeo de alta calidad, pagando estos servicios con los productos que cosechan.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Pretendemos que la acesoria no solo desde el punto de vista publicitario, para el primer proyecto "la soñadora" tuvimos el apoyo de un contador y un administrador. También el fondo emprender del sena. </p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Buscamos una sociedad más justa, en la que no sea el dinero el que determine la calidad de tu producto, en la que se pueda generar conciencia del arduo trabajo del campo y sobretodo en la no solo unos pocos se beneficien del trabajo de muchos. Pensamos que con este proyecto podemos combatir la pobreza en el campo, podemos hacer que los jóvenes vuelvan al trabajo rural por que será rentable nuevamente y sobre todo queremos un país orgulloso de su producto insignia. </p>

		</div>
	</div>
	
</div>
