<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Water is Life</h1>
			<p>El 65% del agua disponible se usa en la agricultura; el 25% se utiliza en la industria.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/water-is-life.jpg" alt="Water is Life">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Water is Life</p>
			<img src="../../assets/img/person/water-is-life.jpg" alt="Water is Life">
			<p class="place">Pamplona, Norte de Santander</p>
			<p class="label">Categoría</p>
			<p>Ciudades y comunidades sostenibles</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="http://www.iser.edu.co/" target="_blank"><i class="icon-link"></i>URL</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Water is Life es una empresa dedicada a diseñar e implementar torres de recolección de agua por medio del proceso natural de condensación, como alternativa amigable con el medio ambiente para abastecer zonas con escasez del agua potable, impulsando así el desarrollo económico y generando calidad de vida.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Un 28% de la población rural de Colombia enfrenta una situación crítica por la falta de acueducto, por lo que miles de personas hacen maromas para poder consumir agua de pozos y ríos, y se exponen así a enfermedades. Esta cifra, equivale por lo menos a 3,1 millones de colombianos.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Según The World Resources Institute más de la mitad del planeta afrontará escasez de agua para el año 2040, debido a:</p>
			<ol>
				<li>El rápido crecimiento de la población mundial, que se expande a tasas del 1.2% anual</li>
				<li>El cambio climático, que ha acelerado el ciclo del agua</li>
				<li>El desperdicio del preciado líquido</li>
			</ol>

			<h2 class="main-title">Aliados</h2>
			<p>Water is Life es una empresa social colombiana fundada por jóvenes del área rural, estudiantes del ISER de Pamplona.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Un 28 por ciento de la población rural de Colombia enfrenta una situación crítica por la falta de acueducto, por lo que miles de personas hacen maromas para poder consumir agua de pozos y ríos, y se exponen así a enfermedades. Esta cifra, que equivale por lo menos a 3,1 millones de colombianos, tiene en el Atlántico y el Pacífico a las regiones con mayor población carente del servicio.</p>
		</div>
	</div>
	
</div>
