<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Colegio La Fontaine</h1>
			<p>Creamos una comunidad donde fluye el conocimiento como fuente de vida e instrumento de cambio para un futuro sostenible.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/fontaine.jpg" alt="Colegio La Fontaine">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Colegio La Fontaine</p>
			<img src="../../assets/img/person/fontaine.jpg" alt="Colegio La Fontaine">
			<p class="place">Cali, Valle del Cauca</p>
			<p class="label">Categoría</p>
			<p>Educación de calidad</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.facebook.com/colegiolafontainecali/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="https://twitter.com/lafontainecali" target="_blank"><i class="icon-twitter"></i>Twitter</a></li>
				<li><a href="https://www.instagram.com/colegiolafontainecali/" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Mi hermano y yo crecimos en Siloé, uno de los barrios más violentos de Cali. Siendo un adolescente él quiso aprender inglés pero no había recursos económicos entonces con un diccionario se enseñó a sí mismo aprendiendo tres palabras al día. Fundamos Colegio La Fontaine con el objetivo de permitir el acceso a educación bilingüe y de calidad a estratos 1, 2 y 3 y contribuir así a cerrar la brecha de desigualdad en nuestro país por falta de oportunidades educativas para familias de bajos ingresos. </p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Hay actualmente 140 estudiantes matriculados en grados jardín a quinto de primaria. Las familias también se ven beneficiadas a través de actividades donde se empoderan como agentes de cambio. El colegio además brinda empleo a 6 docentes pertenecientes a la misma comunidad de Siloé. </p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Colegio La Fontaine es una escuela del siglo XXI que lleva bilingüismo, tecnología y educación STEAM a zonas vulnerables, con un enfoque en el desarrollo de habilidades blandas. Es una idea autosostenible, de gran impacto social, con fuertes alianzas intersectoriales y con capacidad de escala.</p>

			<h2 class="main-title">Aliados</h2>
			<p>No. Iniciamos solos como un emprendimiento familiar. En el camino se han ido sumando universidades y organizaciones del tercer sector que han aportado al impacto, a la sostenibilidad económica y  a la innovación. La sociedad civil está también altamente involucrada.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Contribuimos a cerrar las brechas de desigualdad generadas por la pobreza que se transmite de generación en generación cuando a una familia de bajos ingresos se le vulnera el derecho al conocimiento, a la información y a la educación. Colegio La Fontaine democratiza el aprendizaje del inglés como un motor de cambio en el mundo. Un joven bilingüe tendrá mayor acceso a oportunidades laborales y educativas en el futuro, lo que le permitirá finalmente tener bienestar y calidad de vida.</p>

		</div>
	</div>
	
</div>
