<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Aspersores de paz, con economía circular</h1>
			<p>Crea tejido social cuando se construye microaspersores, aprovechando las energías limpias y libres como la solar, para la obtención del agua.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/aspersores.jpg" alt="Aspersores de paz, con economía circular">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Aspersores de paz, con economía circular</p>
			<img src="../../assets/img/person/aspersores.jpg" alt="Aspersores de paz, con economía circular">
			<p class="place">Ibagué, Tolima</p>
			<p class="label">Categoría</p>
			<p>Impacto al medio ambiente</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="http://pasto.com/aspersoresdepaz/" target="_blank"><i class="icon-link"></i>URL</a></li>
				<li><a href="https://www.facebook.com/Aspersores-de-Paz-161304614536139/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Me encuentro enfocado en el desarrollo de sistemas auto sostenibles, capaces de brindar mayor  rendimiento y sotenibilidad en sistemas productivos, ademas de utilizar las energías limpias como la solar y reciclar elementos que ya cuentan como  desechos; para así cumplir estándares de buenas practicas agricolas. Uno de los objetivos es lograr el desarrollo local alternativo, impulsando nuevas formulas para generar economías auto sostenibles con una baja inversión, y/o elaborado artesanalmente.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Ha logrado brindar mejoras en la calidad de vida de sitios productivos, siendo implementado para ayudar zonas rurales golpeadas por el conflicto armado en el departamento de Nariño y Tolima, impactando positivamente en la construccion de tejido social e implementacion de sistemas auto sostenibles.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>No existen sistemas de riego con aspersores artesanales, que funcionen en base a la energía solar. Mejora la productividad en sistemas de producción agropecuarios, con una inversión 14 veces menor que un sistema convencional, siendo amigable con el medio ambiente al utilizar material reciclado.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Fui el promotor del Proyecto ASPERSORES DE PAZ, el cual fue uno de los 10 proyectos de innovación ciudadana para Colombia, con la colaboración de la secretaria general iberoamericana,la alta consejería para el pos conflicto, el Centro de Innovación social de Nariño (CISNA) y la gobernación de Nariño.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Busca que los pequeños y medianos productores tengan accesos a sistemas autosostenible, amigables con el medio ambiente y de bajo coste, para lograr una alta productividad en sus cultivos, presentando la mejor relación beneficio/costo. Ademas, pretende impulsar el sector agropecuario con una metodología de elaboración artesanal, aportando metodologías profesionales y el aporte empírico, cultural y ancestral de la comunidad con la que se trabajará, brindando soluciones agrarias al sector rural.</p>

		</div>
	</div>
	
</div>
