<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">NIBI</h1>
			<p>Imagínense el impacto de conectar a todos esos millones de personas que quieren hacer cosas buenas con programas que buscan cambiar el mundo.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/nibi.jpg" alt="NIBI">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">NIBI</p>
			<img src="../../assets/img/person/nibi.jpg" alt="NIBI">
			<p class="place">Bogotá, Cundinamarca</p>
			<p class="label">Categoría</p>
			<p>Ciudades y comunidades sostenibles</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.nibi.com.co/" target="_blank"><i class="icon-link"></i>URL</a></li>
				<li><a href="https://www.facebook.com/NibiColombia/?epa=SEARCH_BOX" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="https://www.instagram.com/nibicolombia/?hl=es" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Nibi nace de darnos cuenta que la labor social en el país está completamente desconectada. Muchas veces queremos ayudar a causas sociales pero no sabemos cómo, las páginas web de las fundaciones están desactualizadas y el proceso para realizar cualquier tipo de ayuda (donaciones/voluntariados) está lleno de inhibidores que limitan el apoyo a cualquier programa..Así que un día pensamos: ¿Cómo sería el impacto que podríamos llegar a tener si ayudar a causas fuera fácil, divertido y simple?</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Por el momento nos hemos aliado con 3 fundaciones y estamos en contacto con otras. De la misma manera, tenemos a más de 4 restaurantes aliados. El lanzamiento de nuestro prototipo está previsto para el 10/12/18, así que en ese momento ya podremos comenzar a impactar los programas de las fundaciones.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Nibi crea tendencias frente a los programas sociales/ambientales al desarrollar un modelo en el cual por cada ayuda realizada en nuestra plataforma,el usuario recibe nibis que puede canjear por premios en nuestros comercios aliados.Hacemos que tener prácticas sostenibles sea divertido,único y simple.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Fuimos aceptados en Incube, una de las aceleradoras de emprendimiento más grandes del país. Con ellos hemos recibido mentorías en diferentes aspectos (legales, tecnológicos, publicidad, entre otros) y una de sus empresas fue quien nos está desarrollando la página web para nuestro prototipo. </p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Solo en Colombia hay más de 20 millones de personas con acceso a internet y dispuestos a ayudar, y por otro lado más de 20,000 fundaciones que necesitan visibilidad en el mercado. Al ser una plataforma digital, el alcance y crecimiento que se puede alcanzar es inimaginable. Por ejemplo, rappi en 3 años ha logrado llegar a más de 7 países y lograr más de 13 millones de usuarios. Así que podemos imaginarnos conectando a millones de personas en LATAM con cientos de causas, y el impacto que traería.</p>

		</div>
	</div>
	
</div>
