<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Red Universitaria Anticorrupción (RedUva)</h1>
			<p>Cambiamos la vida de las personas, quienes a su vez, contagiadas de nuestras buenas intenciones, impactan a otros y por lo tanto al país.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/reduva.jpg" alt="Red Universitaria Anticorrupción (RedUva)">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Red Universitaria Anticorrupción (RedUva)</p>
			<img src="../../assets/img/person/reduva.jpg" alt="Red Universitaria Anticorrupción (RedUva)">
			<p class="place">Bogotá, Cundinamarca</p>
			<p class="label">Categoría</p>
			<p>Transparencia, justicia y cero corrupción</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.reduniversitariaanticorrupcion.org/" target="_blank"><i class="icon-link"></i>URL</a></li>
				<li><a href="https://www.facebook.com/LaRedUva/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="https://twitter.com/red_uva" target="_blank"><i class="icon-twitter"></i>twitter</a></li>
				<li><a href="https://www.instagram.com/red_uva/" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Al ver tantos efectos perversos de la corrupción, decidimos unirnos para impactar nuestro país, buscando contribuir a la construcción de una Colombia más ética y menos corrupta. Para esto tenemos 2 objetivos: </p>
			<ul>
				<li>Educar en principios y valores a la sociedad colombiana para cultivar una cultura anticorrupción.</li>
				<li>Visibilizar los actos de corrupción ante la ciudadanía a través de medios digitales  innovadores, promoviendo una sociedad consciente e informada, que se anime a luchar contra la corrupción.</li>
			</ul>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Personas que nos leen en redes sociales (81.000 aproximadamente), mediante la visibilización y sensibilización hacia la corrupción.  </p>
			<p>Niños mediante la implementación del Reto Cultuva y talleres que previenen la corrupción.</p>
			<p>Instituciones a través de recomendaciones producto de las investigaciones.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Desde las líneas:</p>
			<p>Comunicaciones: informa y visibiliza la corrupción usando productos audiovisuales.</p>
			<p>Investigaciones: Propone soluciones mediadas por tecnología, ante situaciones de corrupción.</p>
			<p>Proyectos: Previene la corrupción a través del aprendizaje experiencial propuesto en el libro “Reto Cultuva”.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>La linea de comunicaciones ha tenido un impacto estimado de 81000 personas, de igual forma tenemos un total de 1982 seguidores en redes sociales.</p>
			<p>En la linea de proyectos se ha implementado el RetoCultuva en un aproximado a más de 100 niños, en lugares como el Barrio Bosque Calderón, Gimnasio Campestre los Sauces y el Colegio Anglo Americano. 
			<p>En investigaciones hemos tenido reuniones con diferentes instituciones en aras de impulsar nuestras sugerencias constructivas producto de la investigación.</p>

		</div>
	</div>
	
</div>
