<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Mango Juice Company</h1>
			<p>A través del valor que se le da a todas las partes de la cadena productiva que colaboran para la elaboración de un producto natural.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/mango.jpg" alt="Mango Juice Company">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Mango Juice Company</p>
			<img src="../../assets/img/person/mango.jpg" alt="Mango Juice Company">
			<p class="place">Valledupar, César</p>
			<p class="label">Categoría</p>
			<p>Trabajo decente y crecimiento economico sostenible</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.facebook.com/MangoJuiceCo/?ref=bookmarks" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Entre la variedad de arborización en la capital valduparense, encontramos el árbol de mango que se ha convertido en la locomotora de desarrollo de esta idea de emprendimiento social, que surge con el objetivo de crear una sociedad de productores de mango, en busca de dignificar las condiciones laborales actuales, aumentando sus ingresos para contribuir a la mejora de la calidad de vida de sus familias y promover la producción y consumo responsable de una bebida natural de un fruto típico.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Desarrollamos una bebida natural a base de jugo de mango con la finalidad de crear una propuesta de valor que identifique la razón social del proyecto donde se pueda contar al consumidor la historia que existe detrás del producto y que se ofrezca como un símbolo de desarrollo sostenible.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Al generar un proceso de ingeniería que contribuya a la mejora del estilo de vida del pequeño productor agrícola, quien trabaja la tierra, que a través de la comercialización de productos naturales típicos de la región, genere ingresos para sostener el desarrollo de su familia y la comunidad.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Para la elaboración del primer prototipo se contó con la ayuda de ingenieros de alimentos, de nivel académico y miembros del clúster lácteo de la Cámara de Comercio de la ciudad. Además de asesorías a nivel marketing y legal por diferentes colaboradores.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Valledupar es una ciudad donde su sistema económico gira alrededor del comercio informal y su producción agrícola es la segunda actividad que genera dinamismo dejando la industria como un sector abandonado, ocasionando una falla en la interacción de los agentes. Es por eso este proyecto va en pro de contribuir al desarrollo de los recolectores de mango que mediante el aprendizaje y capacitación se muestre un avance significativo en la calidad de vida de sus familias y de la comunidad.</p>

		</div>
	</div>
	
</div>
