<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Capio</h1>
			<p>Humanizamos la tecnología y la ponemos a disposición de quienes más lo necesitan. Devolvemos autonomía a los pacientes para seguir avanzando.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/capio.jpg" alt="Capio">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Capio</p>
			<img src="../../assets/img/person/capio.jpg" alt="Capio">
			<p class="place">Bogotá, Cundinamarca</p>
			<p class="label">Categoría</p>
			<p>Salud y bienestar</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.soyjulieta.com" target="_blank"><i class="icon-link"></i>URL</a></li>
				<li><a href="https://www.facebook.com/soylaDraJulieta/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="https://www.instagram.com/somos.julieta/" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Mejorar la calidad de vida de las personas es lo que nos motiva, aportar a cada uno de los pacientes y familias para entregarles autonomía a sus vidas por medio de tecnologías innovadoras. Generar un cambio positivo en un problema de alcance global nos permite creer cada vez más en este proyecto y sus proyecciones futuras. Ver a un paciente caminar con seguridad después de muchos años sin hacerlo nos indica que estamos por el camino adecuado.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Capio ha logrado ayudar a más de 15 adultos mayores con Párkinson, pacientes de la Fundación Párkinson de Colombia, mejorando su velocidad de marcha, equilibrio al caminar, realizar giros, congelamiento ante obstáculos y desplazamiento en lugares cerrados. así mismo, mejoramos su estado de ánimo. </p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Nuestro equipo de trabajo utilizó metodologías de diseño centradas en el usuario, para diseñar un producto y servicio que se ajusta a las necesidades del paciente y su entorno. Capio humaniza la tecnología y la pone a disposición de la sociedad, de maneras nunca antes vistas en dispositivos médicos.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Contamos con el apoyo de la Fundación Parkinson de Colombia, donde tuvimos la oportunidad de compartir con más de 15 pacientes. Somos beneficiarios de la convocatoria nacional de patentes de Colciencias y ganadores del premio nacional de innovación en dispositivos médicos de la ANDI.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Capio puede ayudar más de 7 millones de pacientes en el mundo, tasa que crece año tras año. Del mismo modo, contribuimos con sus cuidadores, familias y especialistas de la salud por medio de un seguimiento especializado del paciente. Capio es el punto de partida para extrapolar el proyecto al desarrollo de diferentes productos y servicios para diferentes patologías siempre en pro del bienestar humano a través de la tecnología. </p>

		</div>
	</div>
	
</div>
