<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Reformatec</h1>
			<p>Con mi proyecto quiero ayudar a todas las personas que hoy por hoy no cuentan con el servicio de alcantarillado, quiero ayudar de corazón.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/reformatec.jpg" alt="Reformatec">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Reformatec</p>
			<img src="../../assets/img/person/reformatec.jpg" alt="Reformatec">
			<p class="place">Sincelejo, Sucre</p>
			<p class="label">Categoría</p>
			<p>Impacto al medio ambiente</p>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Quiero cuidar todo lo que pueda el medio ambiente, evitar que se generen los criaderos de zancudos en las llantas porque esa sería una de las consecuencias de "desechar" las llantas de forma clandestina. De una problemática ambiental muy presente, ya que la masividad de llantas que se encuentran tiradas, se conviertan en algo útil como lo son los baños o las posas sépticas. Con este proyecto sueño con aportar al mundo un granito de arena, y minimizando al máximo la propagación de enfermedades.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Se han construido alrededor de 7 posas septicas en la vereda Vijagual del municipio de Coloso. Esta zona actualmente no cuenta con el servicio de alcantarillado por lo que son de mucha ayuda.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Porque de una "desecho" que se convierte en un problema ambiental lo que se busca es minimizar estas llantas que son botadas de forma clandestina las cuales general los criaderos de mosquitos quiero utilizarlas para la construcción de baños, utilizando el 100% de la llanta. Quiero cuidar mi planeta.</p>

			<h2 class="main-title">Aliados</h2>
			<p>No, ninguna.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Quiero y deseo que por medio de este proyecto poder tener un impacto POSITIVO en la sociedad y en el medio ambiente, debemos cuidar de nuestro planeta y al mismo tiempo poder ayudar a todas las personas que en su mayoría son de zonas rurales donde no hay cobertura del servicio de alcantarillado.</p>
			<p>He visto la dificultad con la que viven todas estas familias por no tener este servicio el cual es muy importante.</p>

		</div>
	</div>
	
</div>
