<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Fénix Planet</h1>
			<p>Disminuiremos el efecto invernadero causado por la contaminación de estas llantas y haremos campos deportivos para todas las clases sociales.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/fenix.jpg" alt="Fénix Planet">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Fénix Planet</p>
			<img src="../../assets/img/person/fenix.jpg" alt="Fénix Planet">
			<p class="place">Cúcuta, Norte de Santander</p>
			<p class="label">Categoría</p>
			<p>Impacto al medio ambiente</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.facebook.com/solucionesambientalesfenixplanet/#" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>Darle solución a la crisis ambiental a la que se enfrenta la ciudad, debido a que las empresas de aseo no recogen los neumáticos debido a que no les pueden dar el adecuado uso final.</p>

			<p>Siendo trabajador de la empresa aseo urbano s.a.s e.p.s. a diario recorría la ciudad y contemplaba las cantidades de neumáticos, movido por el amor al medio ambiente que se adquiere al trabajar en una empresa de aseo inicie una investigación para los usos que se le podrían dar a estos neumáticos.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Los monta llantas al recoger los neumáticos que tienen allí almacenados creándoles problemas por que se les convierten en criaderos del zancudo Aedes aegypti, transmisor del dengue y otras enfermedades y se ha mejorado la imagen de algunos sectores de la ciudad al quitar las llantas allí arrojadas.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>En la región no hay productor de granulado y las canchas sintéticas deben realizar su pedido a otras ciudades, innovaría en la región, ademas la creación de nuevos productos como  los de seguridad vial y aislantes de sonido, la región es un océano azul en el mercado de los derivados del caucho.</p>

			<h2 class="main-title">Aliados</h2>
			<p>Si, la universidad Minuto de Dios me otorgo un premio por ser el ganador de la feria de emprendimiento del año 2017 y con el se pudo realizar una parrilla para el carro y así poder recolectar las llantas.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p>Embellecer la ciudad, no solo recolectando las llantas que han  cumplido su cicli de vida, sino creando campos deportivos inicialmente en escuelas y barrios de bajos recursos, para darle uso a todo el granulado que no ha logrado salir de bodega y cumpliendo con nuestra responsabilidad social.</p>

		</div>
	</div>
	
</div>
