<div class="banner-detail">
	<div class="container">
		<div class="col-left">
			<h1 class="title">Organicum</h1>
			<p>Por la contribución al desarrollo del sector agrícola, donde se manifiesta gran cambio social, generando consciencia.</p>
		</div>
		<div class="col-right">
			<picture class="img-main">
				<source type="image/webp" srcset="">
				<source type="image/jp2" srcset="">
				<source type="image/jxr" srcset="">
				<img src="../../../../assets/img/detalle-finalistas/organicum.jpg" alt="Organicum">
			</picture>
			<i class="icn-video" (click)="openDialog()"></i>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-about">
			<p class="main-title">Organicum</p>
			<img src="../../assets/img/person/organicum.jpg" alt="Organicum">
			<p class="place">Palmira, Valle del Cauca</p>
			<p class="label">Categoría</p>
			<p>Impacto al medio ambiente</p>
			<p class="label">Conoce más de este proyecto en:</p>
			<ul class="networks">
				<li><a href="https://www.soyjulieta.com" target="_blank"><i class="icon-link"></i>URL</a></li>
				<li><a href="https://www.facebook.com/soylaDraJulieta/" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
				<li><a href="https://www.instagram.com/somos.julieta/" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
			</ul>
		</div>
		<div class="col-info">
			<h2 class="main-title">Objetivo del proyecto</h2>
			<p>El objetivo de mi proyecto es aprovechar de manera eficiente los residuos generados por los agricultores, dando así soluciones ala necesidad que se presento que fue el aprovechamiento de estos y enfocarlos al desarrollo de empaques para mejorar las condiciones de almacenamiento y redireccionar al uso consciente de empaques biodegradables, lo que me inspiro fue mejorar el uso y el desuso de estos residuos, causando un gran impacto en la condición medio ambiental de la región.</p>

			<h2 class="main-title">¿A quién beneficia?</h2>
			<p>Principalmente, a los agricultores de la REDMAC, capacitándolos para que aprendan como realizar sus propios empaques, y puedan darle ese valor agregado a sus productos agroecologicos.</p>

			<h2 class="main-title">Nivel de innovación</h2>
			<p>Es innovador , debido a los procesos implementados para la creación del nuevo material , a partir del bagazo de la hoja de plátano y vaina de palma, ademas de que construye una relación de concientizacion con los agricultores y los beneficios para estos.</p>

			<h2 class="main-title">Aliados</h2>
			<p>No, el proyecto lo desarrolle de manera individual, tuve colaboración de grupos de investigación y los agricultores, en cuanto a tomar testear el material, pero el proyecto en si se desarrollo de manera individual.</p>

			<h2 class="main-title">Impacto en la sociedad</h2>
			<p> En el proyecto se aprovecha acerca del 65% de residuos generados por los cultivos de plátano y mas del 70% de la recolección de la corteza de la palma, lo que permite generar  aproximadamente 20 empaques de manera artesanal, lo que permite tener un mayor control para cada agricultor de cuanto se va gastar mensualmente, y tener el espacio de recolectar con mas libertad materia prima.A partir de las capacitaciones con los agricultores, se diversifica de manera masiva el proyecto.</p>

		</div>
	</div>
	
</div>
